<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softcustomer.perfectfit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="85ccedeedc4064aadbbf056614d9daefca771f05" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"

            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"

            android:label="@string/title_activity_search_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.user.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.PaymentHistoryActivity"

            android:label="@string/title_activity_payment_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BioActivity"

            android:label="@string/bio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.user.SessionTrackingActivity"

            android:label="@string/session_tracking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.user.BecomeTrainerActivity"

            android:label="@string/title_activity_become_trainer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.user.TrackingInfoActivity"

            android:label="@string/title_activity_tracking_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.user.ReviewActivity"
            android:label="@string/title_activity_review"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.user.ReviewRatingActivity"

            android:label="@string/title_activity_rating_review"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.authentication.AuthenticationActivity"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.authentication.SignUpActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".activities.authentication.SignUpPhoneActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".activities.authentication.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_forgot_pass" />
        <activity
            android:name=".activities.CategoriesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_categories" />

        <activity
            android:name=".activities.user.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.PlanActivity"
            android:label="@string/title_activity_plans"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".activities.PlansActivity"
            android:label="@string/title_activity_plans"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".activities.BookingActivity"
            android:label="@string/title_activity_booking"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>